@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scroll{
    overflow-y:hidden;
      
}

.logo{
    filter: brightness(5);
    transition: all .3s ease-in-out;
}

.logo:hover{
    transition: all .3s ease-in-out;
    filter: brightness(1);
}

@media (max-width: 768px) {
    .no-scroll{
        overflow-y: visible;
    } 
    .modal{
    
        max-height: auto;
        margin: 0;
    }
  
}
.tech{
   
}

.modal{
    
    animation: init .3s ease-in-out;
}

@keyframes init {
    0%{
        transform: scale(.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.tech::-webkit-scrollbar {
    -webkit-appearance: none;
    
}

.tech::-webkit-scrollbar:horizontal {
    
    height: 10px;
}
.tech::-webkit-scrollbar-thumb {
    
    background-color: rgba(204, 66, 32, 0.4);
    border-radius: 20px;
    border: 1px solid rgba(232,102,67,.8);
    cursor: pointer;
}

.tech::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.border-1px{
    border: 3px solid transparent;
    border-image: linear-gradient(133deg, rgba(204,66,32,1) 0%, rgba(232,102,67,1) 25%, rgba(237,133,58,1) 50%, rgba(232,103,67,1) 71%, rgba(204,66,32,1) 100%);
    border-image-slice: 1;
    -webkit-animation: bg_Animated 5s ease-in infinite;
    -moz-animation: bg_Animated 5s ease-in infinite;
    -o-animation: bg_Animated 5s ease-in infinite;
    animation: bg_Animated 5s ease-in infinite;
}

.card:hover{
    background-color: rgb(232, 103, 67);
    transition: all .3s ease-in-out;
}

.card p{
    display: -webkit-box;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.info{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.inner-box {
    background: rgb(204,66,32);
    background: linear-gradient(133deg, rgba(204,66,32,1) 0%, rgba(232,102,67,1) 25%, rgba(237,133,58,1) 50%, rgba(232,103,67,1) 71%, rgba(204,66,32,1) 100%);
    
    background-size: 600% 600%;
    -webkit-animation: bg_Animated 10s ease-in infinite;
    -moz-animation: bg_Animated 10s ease-in infinite;
    -o-animation: bg_Animated 10s ease-in infinite;
    animation: bg_Animated 10s ease-in infinite;
}
@media (max-width: 768px) {
    .inner-box{
        background-size: 200% 200%;
    } 
  }

a.inner-box:hover, button.inner-box:hover{
    transition: all .5s ease;
    background-size: 100% 100%;
    box-shadow: 0 0 10px rgba(232,102,67,1);
}
.inner-box--text, .logo {
    background: rgb(156,26,4);
    background: linear-gradient(133deg, rgba(204,66,32,1) 0%, rgba(232,102,67,1) 25%, rgba(237,133,58,1) 50%, rgba(232,103,67,1) 71%, rgba(204,66,32,1) 100%);
    background-size: 200% 200%;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    -webkit-animation: bg_Animated 10s ease infinite;
    -moz-animation: bg_Animated 10s ease infinite;
    -o-animation: bg_Animated 10s ease infinite;
    animation: bg_Animated 10s ease infinite;
}

@-webkit-keyframes bg_Animated {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes bg_Animated {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-o-keyframes bg_Animated {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes bg_Animated {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}